<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean class="org.mapstory.geoserver.boundsupdater.BoundsUpdateTransactionListener">
    <constructor-arg index="0" ref="catalog"/>
  </bean>
  <bean class="org.geoserver.platform.ModuleStatusImpl">
    <constructor-arg index="0" value="gs-rest"/>
    <constructor-arg index="1" value="MapStory Plugins"/>
  </bean>
</beans>
